
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */