html {
	font-size: 7px;
}

body {
	padding: 5% 0;
	font-size: 3rem;
}

a {
	transition: .3s;
}

a:hover {
	color: #e57373;
}

img {
	max-width: 100%;
}

h2 {
	margin-top: 0;
}

.btn-floating i {
	font-size: 3.5rem;
}

.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
	font-size: 2.5rem;
}
/**************************************
	Intro Section
 */
.intro_section {
	border-bottom: 5px dotted #ccc;
	padding-bottom: 5%;
}

.intro_section h1 {
	margin-top: 5%;
}

.avatar {
	border-radius: 50%;
	max-width: 100%;
}

.github {
	margin-top: 0;
	margin-bottom: .5em;
}

.contacts {
	margin: 0;
	font-size: 3.5rem;
}

/**************************************
	Education Section
 */
.education_accordin__toggler {
	display: block;
	cursor: pointer;
	outline: none;
}

.education_accordin__toggler::-webkit-details-marker {
	display: none;
}

.education_accordin__toggler .material-icons {
	vertical-align: middle;
	transition: .3s;
}

.education_accordin[open] .education_accordin__toggler {
	color: #e57373;
}

.education_accordin[open] .material-icons {
	transform: rotate(180deg);
}

.education_accordin dt {
	font-weight: bold;
}

/**************************************
	Carousel Section
 */
.projects_carosel__item_info.expanded .more_checkbox__label::before {
	content: '-';
}

.projects_carosel_wrapper {
	position: relative;
}

.projects_carosel_wrapper .arrow_btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.projects_carosel_wrapper .arrow_btn--prev {
	left: 5%;
}

.projects_carosel_wrapper .arrow_btn--next {
	right: 5%;
}

.projects_carosel {
	/*height: auto;*/
}

.projects_carosel .projects_carosel__item {
	width: 100%;
	height: auto;
	/*position: absolute;*/
}

.projects_carosel__item_inner {
	position: relative;
}

.projects_carosel__img {
	display: block;
	width: 100%;
}

.projects_carosel__item_info {
	font-size: 2rem;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, .6);
	padding: 20px calc(5% + 55px);
	left: 0;
	right: 0;
	color: #fff;
	overflow: hidden;
	z-index: 1;
	height: 7rem;
	transition: .3s;
}

.projects_carosel__item_info.expanded {
	height: 100%;
}

.projects_carosel__item_info .read_more {
	cursor: pointer;
	font-size: inherit;
	color: inherit;
	font-weight: bold;
	position: absolute;
	right: 5%;
	top: 1.4rem;
	z-index: 100;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 22px;
	font-size: 22px;
}

.projects_carosel__item_info .read_more::before {
	content: '+';
	line-height: 1;
}

.projects_carosel__item_info.expanded .read_more::before {
	content: '-';
}

.projects_carosel__item_info h3 {
	margin-top: 0;
	white-space: nowrap;
}

.projects_carosel__item_info li {
	position: relative;
	padding: 0 0 0 10px;
}

.projects_carosel__item_info li:before {
	content: '-';
	position: absolute;
	top: 0;
	left: 0;
}

@media (max-width: 767px) {
	.container__slider {
		width: auto;
	}

	.container__slider .row .col {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 10px;
	}

	.intro_section h1 {
		margin-top: 10%;
	}

	.projects_carosel__item_info {
		top: 0;
		left: 0;
		right: 35%;
		padding: 20px 20px 20px calc(5% + 60px);
	}
}